.AddCar, .Login, .Register, .DeleteCar {
    padding: 50px;
}

.AddCar Form, .Login Form, .Register Form, .DeleteCar Form {
    margin: 0 auto;
    max-width: 320px;
}

.AddCarHeader, .LoginHeader, .RegisterHeader, .DeleteCarHeader {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 0 20px;
}

.alert {
    max-width: 330px;
    margin: 0 auto;
}